<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="appleseed_services_search_app_content" value="C:\Projects\Anant\KonoTree_Files"/>
    <!--<add key="appleseed_services_search_defaultindex" value="C:\Services\Appleseed.Services.Search\Data\public" />-->
    <add key="appleseed_services_search_defaultindex" value="C:\Projects\Anant\Anant.Seeds\appleseed-search-web\Appleseed.Services.Search.Web.User.Legacy\App_Data\Index\lucene_index" />
    <!--<add key="appleseed_services_search_defaultindex" value="~/App_Data/Index/lucene_index" />-->
    <add key="appleseed_services_search_predictionServiceRoot" value="~/API" />
    <!-- 
    <add key="appleseed_services_search_app_content" value="C:\Projects\AHRI.AHRINET.project\AHRI.AHRINET.project\Application\AHRI.Web\AHRI.Web\"/>
    <add key="appleseed_services_search_defaultindex" value="~/App_Data/Index/lucene_index" />
    <add key="postNewsRedirect" value="/site/295/AHRINET?A=" />
    <add key="postNewsRedirectInvalid" value="/site/295/AHRINET" />
    <add key="CollectionSummaryPagerLinkBase" value="/About.aspx?SE="/>
    <add key="CollectionSummaryRedirect" value="/About.aspx?S=" />-->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Appleseed.Services.Search.CollectionIndexAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="SearchServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Appleseed.Services.Search.CollectionIndex">
        <endpoint address="" behaviorConfiguration="Appleseed.Services.Search.CollectionIndexAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Appleseed.Services.Search.CollectionIndex" />
      </service>
      <service name="SearchService">
        <endpoint address="" behaviorConfiguration="SearchServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="SearchService" />
      </service>
    </services>
    <bindings />
    <client />
  </system.serviceModel>

</configuration>
