<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="appleseed_services_search_app_content" value="C:\Projects\Anant\KonoTree_Files"/>
    <!--<add key="appleseed_services_search_defaultindex" value="C:\Services\Appleseed.Services.Search\Data\public" />-->
    <add key="appleseed_services_search_defaultindex" value="C:\Projects\Anant\Anant.Seeds\appleseed-search-web\Appleseed.Services.Search.Web.User.Legacy\App_Data\Index\lucene_index" />
    <!--<add key="appleseed_services_search_defaultindex" value="~/App_Data/Index/lucene_index" />-->
    <add key="appleseed_services_search_predictionServiceRoot" value="~/API" />

    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="SolR" value="http://localhost:8983/solr"/>
    <add key="SolrCollection" value="appleseed-public"/>

  </appSettings>


  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestPathInvalidCharacters="*" targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>


    <services>
      <service name="Appleseed.Services.Search.Web.API.ProxyService">
        <endpoint address="" behaviorConfiguration="restfulBehavior"
          binding="webHttpBinding" bindingConfiguration="" contract="Appleseed.Services.Search.Web.API.IProxyService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:20181/ProxyService.svc" />
          </baseAddresses>
        </host>
      </service>
      <!--<service name="Appleseed.Services.Search.CollectionIndex">
        <endpoint address="" behaviorConfiguration="Appleseed.Services.Search.CollectionIndexAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Appleseed.Services.Search.CollectionIndex" />
      </service>-->
      <service name="Appleseed.Services.Search.Web.API.SearchService">
        <endpoint address="" behaviorConfiguration="SearchServiceAspNetAjaxBehavior"
          binding="webHttpBinding" contract="Appleseed.Services.Search.Web.API.SearchService" />
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="myBasicBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" closeTimeout="01:50:00" openTimeout="01:50:00" sendTimeout="01:50:00" receiveTimeout="01:50:00" >
          <readerQuotas maxDepth="128" maxStringContentLength="8388608" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehavior">
          <webHttp />
        </behavior>
        <behavior name="Appleseed.Services.Search.CollectionIndexAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="SearchServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <dataContractSerializer ignoreExtensionDataObject="false" maxItemsInObjectGraph="2147483646" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http"   />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
